# fly.toml app configuration file generated for productivitygo-backend on 2025-11-27T15:50:23+07:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'productivitygo-backend'
primary_region = 'sin'

[build]
  dockerfile = 'Dockerfile'

[env]
  PORT = '8000'
  ENVIRONMENT = 'production'
  ALLOWED_ORIGINS = 'https://nazhifkojaz.github.io/'

[http_service]
  internal_port = 8000
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  size = 'shared-cpu-1x'
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
